%header.jumbotron.test
  %div.container
    %h1
      %a{href: '/'}
        Amazong
    %h2
      %a{href: '/'}
        Getting you a great deal
    = button_to 'Watch new item', new_product_path, method: :get, class: 'btn btn-warning btn-lg header_button'

    %div.product_new_form.row
      = form_for @product do |f|
        %div.col-lg-8
          = f.label :url, class: 'hidden'
          = f.url_field :url, placeholder: 'Url',class: 'project_url form-control'
        %div.col-lg-2
          = f.label :budget, class: 'hidden'
          = f.number_field :budget, placeholder: 'Budget', in: (0..1000000), step: 0.01, class: 'project_budget form-control'
        %div.col-lg-2
          = f.submit 'Watch item', class: 'btn btn-warning watch_button'

%section.container
  - if @products.any?
    %table.table
      %tr
        %th Image
        %th Title
        %th Initial Price
        %th Budget
      -for product in @products
        %tr
          %td
            %a{href: product.url}
              = image_tag(product.image)
          %td
            %a{href: product.url}
              = product.title
          %td= number_to_currency(product.price, {locale: :en})
          %td= number_to_currency(product.budget, {locale: :en})